---
title: Home
description: The latest app to help you find new friends with common interests.
image: /images/main_background_1.jpeg
bottom_image: images/main_background_2.jpeg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">기초부터 실용회화까지</h1><br>
			<p class="subtext editable">합리적인 가격으로 노련한 선생님에게 배우는 1:1 전화강의</p>
			<div class="cta button alt"><a href="#">Contact</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">합리적인 가격으로 풍부한 경력의 원어민에게 듣는 직강</h2>
				<p class="editable">학생 개개인의 수준에 맞춘 커리큘럼을 따라가는 전화태국어, 합리적인 가격으로 고품질의 교육을 받아보세요</p>
			</div>
			<div class="image">
				<img class="editable" src="{{site.baseurl}}/images/main_pic_1.jpeg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">태국어가 아닌 영어회화 선생님이 필요하신가요?</h2>
				<p class="editable">당사 소속 선생님은 모두 영어권 거주 경력있고 영어/태국어 수업 모두 경력이 있는 분들입니다</p>
			</div>
			<div class="image">
				<img class="editable" src="{{site.baseurl}}/images/main_pic_3.jpeg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">유연한 환불시스템</h2>
				<p class="editable">수업이 마음에 안드시나요? 개인적인 사정이 있으신가요? 잔여 강의에 대해 이유불문 환불해드립니다</p>
			</div>
			<div class="image">
				<img class="editable" src="{{site.baseurl}}/images/main_pic_2.jpeg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">태국어, 영어, 합리적인 가격으로 지금 시작하세요!</h2>
				<p class="subtext editable"></p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
